@import "../../styles/variables";

.mainContainer {
  /* 데스크탑 */
  @include flexCenter;
  flex-direction: column;
  height: 100%;

  & > img {
    max-width: 500px;
  }
  @media screen and (max-width: 767px) {
    /* 타블렛 */
  }

  @media screen and (max-width: 479px) {
    /* 모바일 */
    & > img {
      width: 100%;
    }
    align-items: flex-end;
  }
}
