@import "../styles/variables";

main {
  width: 100%;
  height: 100%;
}

.articleLayout {
  min-height: calc(100vh - $headerHeight - $footerHeight);
  @include flexCenter;
  /* 데스크탑 */

  @media screen and (max-width: 767px) {
    /* 타블렛 */
  }

  @media screen and (max-width: 479px) {
    /* 모바일 */
    align-items: flex-end;
  }
}

/* 데스크탑 */

@media screen and (max-width: 767px) {
  /* 타블렛 */
}

@media screen and (max-width: 479px) {
  /* 모바일 */
}
